<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
    <typeAlias alias="user" type="jp.co.realsys.model.UserModel"/>
    <typeAlias alias="student" type="jp.co.realsys.model.StudentModel"/>
    <typeAlias alias="velocityUser" type="jp.co.realsys.model.user"/>
  </typeAliases>

  <mappers>
  </mappers>
</configuration>
